<div>
  <h1>Foro</h1>
</div>

<div class="container">
  <div class="row">
    <div class="position-fixed">
      navbar
    </div>
    <div class="offset-3 col-8">
      content
    </div>
    <div class="col-1">
      publicity
    </div>
  </div>
</div>