<div>
  <%= image_tag("foro.png", :alt => "banner foro") %>
</div>

<div class="container py-5">
  <div class="row">
    <%= render 'layouts/menu' %>
    <div class="offset-3 col-7">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequuntur laborum officia vitae, nihil alias adipisci libero soluta hic reiciendis vel? Qui pariatur cupiditate ipsa recusandae suscipit inventore quos nihil.
    </div>
    <div class="col-2">
      publicity
    </div>
  </div>
</div>