<div class="row">
  <%= render 'layouts/menu' %>
  <div class="offset-3 col-7">
    <div class="row">
      <h2><%= @question.question_name %></h2>
    </div>
    <div class="row">
      <%= @question.content %>
    </div>
  </div>
</div>