<footer class="footer jumbotron text-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <%= link_to '/' do %>
          <%= image_tag("logo.png", alt: "logo", class: 'header-logo') %>
        <% end %>
      </div>
      <div class="col-8 mt-auto mb-auto">
        <p class="text-center">Todos los derechos reservados &reg;</p>
      </div>
      <div class="col-2">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Acerca de nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Aviso de privacidad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Términos y condiciones</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>